<section id="busmatrix">
    <article>
        <aside>
            <header>
               <img src="/images/buspg.jpg" alt="image"/>
            </header>
            <form action="/bus/confirmationpage" method="post" id="seatchecked">
                <div>
                    <aside>
                        <ion-icon name="seataret-back-circle-outline"></ion-icon>
                    </aside>
                    <main>
                        {{#check oneBus.seats dateglobal.date}}

                        {{/check}}
                    </main>
                </div>
        </aside>
        <main>
            <input type="text" value="{{oneBus.travelid}}" name="seatravelid" class="hideinput" />
            <input type="date" value="{{dateglobal.date}}" name="seatdate" class="hideinput" />
            <h1>Fare Details</h1>
            {{#if this.oneBus}}
            <div class="busname">Date: {{dateglobal.date}} <h3 style="text-transform: uppercase;">{{oneBus.busname}}
                </h3>
                <p>{{oneBus.class1}} class</p>
            </div>

            <main class="onebuscentre">
                <div class="startduration">
                    <h5>{{oneBus.startduration}}:00</h5>
                    <p>{{oneBus.startlocation}}</p>
                </div>

                <div class="centerbar">
                    <p>--></p>
                    <p>{{oneBus.totalduration}} hrs</p>
                </div>

                <div class="startduration">
                    <h5>{{oneBus.endduration}}:00</h5>
                    <p>{{oneBus.endlocation}}</p>
                </div>
            </main>
            <div class="price">
                <p>Total Amount: <input type="text" name="price" value="{{oneBus.price}}" id="pricetag">/-</p>
            </div>


            {{/if}}
            <button>Payment</button>

            <hr class="terms">

            <footer>
                <h1>Why Choose Destiny ?</h1>
                <ul>
                    <li>Free Cancellation</li>
                    <li>Safe-T Bus Partners</li>
                    <li>Instant Refunds</li>
                    <li>Lowest Bus Ticket Price Assured</li>
                    <li>Easy and Quick Bus Booking Online</li>
                    <li>24/7 Customer Assistance</li>
                </ul>
            </footer>
        </main>
    </article>
</section>
</form>