<section id="guide_model">
    <article>
        <aside class="lft-aside">
            <h2>{{Model.place}}</h2>
            <p class="p1">tourist title</p>
            <p class="p2"> {{Model.description}}</p>
            <p class="p3">For amazing travel experience <br><button>Read Now</button></p>
        </aside>
        <aside class="rght-aside">
            <div class="picGrid1 picGrid8"><img src="{{ Model.pictures}}" alt="photo" /></div>
            <div class="picGrid2 picGrid8"><img src="{{ Model.pic1}}" alt="photo" /></div>
            <div class="picGrid3 picGrid8"><img src="{{ Model.pic2}}" alt="photo" /></div>
            <div class="picGrid4 picGrid8"><img src="{{ Model.pic3}}" alt="photo" /></div>
            <div class="picGrid5 picGrid8"><img src="{{ Model.pic4}}" alt="photo" /></div>
            <div class="picGrid6 picGrid8"><img src="{{ Model.pic5}}" alt="photo" /></div>
            <div class="picGrid7 picGrid8"><img src="{{ Model.pic6}}" alt="photo" /> </div>
        </aside>
    </article>
</section>